* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;

    &__One {
       scroll-snap-align: start;
    }

    &__Two {
        scroll-snap-align: start;
    }

    &__Three {
        scroll-snap-align: start;
    }
}